{% extends 'base.html.twig' %}

{% block title %}Village Green{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="h2 fw-bold">Catégories</h1><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for category in categories %}
        <a class="a-category" href="{{ path('category_show', {'category': category.id}) }}">
            <div class="col">
                <div class="h-100">
                    <img src="{{ category.picture }}" class="img-fluid mx-auto hover-zoom" alt="{{ category.name }}" title="{{ category.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5><hr class="text-black">
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}