{% extends 'base.html.twig' %}

{% block title %}Village Green{% endblock %}

{% block body %}
    <div class="text-center mt-3">
        <h1 class="h2 fw-bold">Catégories</h1><br>
        {% if not categories %}
            <h2 class="h3">Il n'existe aucune catégorie.</h2>
        {% else %}
            <div class="row row-cols-1 row-cols-md-3 g-5">
                {% for category in categories %}
                    <div class="col">
                        <div class="border-bottom h-100 m-1">
                            <a class="a-category" href="{{ path('category_show', {'category': category.id}) }}">
                                <img src="{{ asset(category.picture) }}" class="img-fluid mx-auto" alt="{{ category.name }}" title="{{ category.name }}">
                                <h5>{{ category.name }}</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}