{% extends 'base.html.twig' %}

{% block title %}Connexion | Village Green{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item d-none d-md-block d-lg-block d-xl-block">
        <a class="text-white" href="{{ path('app_login') }}">Connexion</a>
    </li>
{% endblock %}

{% block body %}
<form method="post" class="p-5">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            Vous êtes maintenant identifié en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>.
        </div>
    {% endif %}
    <h1 class="h3 mb-4 font-weight-normal">Veuillez vous connecter :</h1>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
            <label class="form-label" for="inputEmail">Adresse email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label class="form-label" for="inputPassword">Mot de passe</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4 text-center">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="_remember_me" checked />
                    <label class="form-check-label" for="_remember_me"> S'en souvenir</label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Mot de passe oublié ?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <!-- Register buttons -->
        <div class="text-center">
            <p>Pas encore inscrit ? <a href="{{ path('app_register') }}">S'enregistrer</a>.</p>
        </div>
    </form>
{% endblock %}
