{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} | Village Green{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item d-none d-md-block d-lg-block d-xl-block">
        <a class="text-white" href="{{ path('category_index', {'category': category.id}) }}">{{ category.name }}</a>
    </li>
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="h2 fw-bold">{{ category.name }}</h1><br>
        {% if category.subCategories is empty %}
            <h2 class="h3">Il n'existe aucune sous-catégorie pour cette catégorie.</h2>
            <img src="{{ asset('images/others/shrug.jpg') }}" class="img-fluid d-flex mx-auto mt-3" alt="">
        {% else %}
            <div class="row row-cols-1 row-cols-md-3 g-5">
                {% for subCategory in category.subCategories %}
                    <div class="col">
                        <div class="border-bottom h-100 m-1">
                            <a class="a-category"
                               href="{{ path('sub_category_index', {'subCategory': subCategory.id}) }}">
                                <img src="{{ asset(subCategory.picture) }}" class="img-fluid mx-auto pb-3" height="150" width="150" alt="{{ subCategory.name }}" title="{{ subCategory.name }}">
                                <h5>{{ subCategory.name }}</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
