{% extends 'base.html.twig' %}

{% block title %}{{ subCategoryName }} | Village Green{% endblock %}

{% block body %}
    <p>Breadcrumb : Accueil/{{ categoryName }}/{{ subCategoryName }}</p>

    <div class="text-center">
        <h1 class="h2 fw-bold">{{ subCategoryName }}</h1>

        {% for product in products %}
            <a href="">{{ product.label }}</a><br>
        {% endfor %}
    </div>
{% endblock %}
