{% extends 'base.html.twig' %}

{% block title %}{{ product.label }} | Village Green{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item d-none d-md-block d-lg-block d-xl-block">
        <a class="text-white" href="{{ path('category_show', {'category': product.subCategory.category.id}) }}">{{ product.subCategory.category.name }}</a>
    </li>
    <li class="breadcrumb-item d-none d-md-block d-lg-block d-xl-block">
        <a class="text-white" href="{{ path('subcategory_show', {'subCategory': product.subCategory.id}) }}">{{ product.subCategory.name }}</a>
    </li>
    <li class="breadcrumb-item d-none d-md-block d-lg-block d-xl-block">
        <a class="text-white" href="{{ path('product_show', {'product': product.id}) }}">{{ product.label }}</a>
    </li>
{% endblock %}

{% block body %}
    <h1 class="h2 text-center fw-bold">{{ product.label }}</h1>
    <p class="text-center"><span class="fw-bold">Référence :</span> {{ product.reference }}</p>
            <a class="card shadow-0 mt-3 pb-3" href="{{ asset(product.picture) }}" target="_blank">
                <img src="{{ asset(product.picture) }}" alt="{{ product.label }}" title="{{ product.label }}" class="img-fluid img-thumbnail hover-shadow mx-auto p-3" height="400" width="400">
            </a>
    <table class="table">
        <thead>
        <tr class="text-center bg-light">
            <th class="fw-bold">Description</th>
            <th class="fw-bold">Prix unitaire HT</th>
            {% if not product.state or product.stock < 1 %}
                <th class="text-danger fw-bold"><i class="fa-solid fa-xmark"></i> Indisponible</th>
            {% else %}
                <th class="text-success fw-bold"><i class="fa-solid fa-check"></i> En stock</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.description|nl2br }}</td>
            <td class="text-center">{{ product.price }}€</td>
            {% if not product.state or product.stock < 1 %}
                <td class="text-success text-center"><button class="btn btn-success fw-bold" disabled>Ajouter au panier</button></td>
            {% else %}
                <td class="text-success text-center"><a href="#" class="btn btn-success fw-bold">Ajouter au panier</a></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}
